<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Settings1.Conexion" connectionString="Data Source=DESKTOP-C8D8LVA\SISTEMASSOPORTE6;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Settings1.ConexionR" connectionString="Data Source=DESKTOP-PUNPDF8\SSD;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>